
.top_menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  height: 3em;
  background: linear-gradient(-206deg, rgb(109,209,244) 5%, rgb(38,153,219) 100%);
  box-sizing: border-box;
}
.container{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tool{
  margin-left: 2em;
  margin-right: 0.7em;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button{
  transition: color 0.5s,opacity 1s;
  padding: 0.3em 1em;
  cursor: pointer;
}

.button:hover{
  background: rgb(36,153,220);
}

.wd_content{
  background: rgb(239,242,248);
  width: 100%;
  height: 96vh;
}
