<div class="desktop-window">
  <div class="flex justify-content-around flex-wrap mt-2">
    <div>
    <p-panel header="Приложения"  [style]="{ width: '45rem' }">
      <div class="flex justify-content-start">
      <div class="w-5rem flex flex-column align-items-center ml-2 cursor-pointer"
        (click)="goProfile()">
        <p-avatar
          [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
          icon="fa fa-user"
          size="xlarge">
        </p-avatar>
        <div class="text-center mt-2">
          Профиль пользователя
        </div>
      </div>
      <div class="w-5rem flex flex-column align-items-center ml-4 cursor-pointer"
           (click)="goRolesAndAuthorities()">
        <p-avatar
          [style]="{ 'background-color': '#FF6347', color: '#ffffff' }"
          icon="fa fa-id-card-o"
          size="xlarge">
        </p-avatar>
        <div class="text-center mt-2">
          Роли и права
        </div>
      </div>
        <div class="w-5rem flex flex-column align-items-center ml-4 cursor-pointer"
             (click)="goSettings()">
          <p-avatar
            [style]="{ 'background-color': '#228B22', color: '#ffffff' }"
            icon="fa fa-cogs"
            size="xlarge">
          </p-avatar>
          <div class="text-center mt-2">
            Настройки
          </div>
        </div>
        <div class="w-5rem flex flex-column align-items-center ml-4 cursor-pointer"
             (click)="goUserList()">
          <p-avatar
            [style]="{ 'background-color': '#6B8E23', color: '#ffffff' }"
            icon="fa fa-address-book"
            size="xlarge">
          </p-avatar>
          <div class="text-center mt-2">
            Пользователи
          </div>
        </div>
      </div>
    </p-panel>

    </div>
    <div class="mt-2">
      <p-panel header="Текущие задачи" [style]="{ width: '45rem' }">

      </p-panel>
    </div>
  </div>
</div>
