<span class="timer">
  <span>Следующее подтверждение можно отправить через: </span>
    <span *ngIf="daysToDday!==0">
      <span  id="days"> {{daysToDday}}</span> Дней
    </span>
    <span *ngIf="hoursToDday!==0">
      <span  id="hours"> {{hoursToDday}} </span> Часов
    </span>
    <span *ngIf="minutesToDday!==0">
      <span id="minutes"> {{minutesToDday}} </span> Минут
    </span>
    <span *ngIf="secondsToDday!==0">
      <span id="seconds"> {{secondsToDday}} </span>Секунд
    </span>
</span>
