<app-menu-bar></app-menu-bar>
<div class="mt-4 flex justify-content-around">
  <div class="w-9">
  <p-panel [toggleable]="true">
    <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">Основные учетные данные пользователя</span></ng-template>
    <ng-template pTemplate="content">
      <div class="mb-2 font-bold">Аккаунт создан: <span class="font-normal">{{userProfile.createdAt.toString() | date: 'dd/MM/yyyy' }}</span></div>
      <div class="mb-2 font-bold" >Последнее изменение:  <span class="font-normal">{{userProfile.updatedAt.toString() | date: 'dd/MM/yyyy'}} </span></div>
      <div class="mb-4 font-bold">Статус аккаунта:  <span class="font-normal">{{userProfile.status }}</span></div>
    <form
      class="mt-1"
      [formGroup]="userForm"
      novalidate
      (ngSubmit)="submitUserFrm()">
      <span class="p-float-label w-30rem">
        <input
         pInputText
         id="email"
         class="p-inputtext-sm w-full"
         formControlName="emailControl"
         (focusout)="checkEmail()"
         [ngClass]="{'ng-invalid ng-dirty':(emailControl.invalid)&&emailControl.touched}"
         />
       <label htmlFor="email">Email</label>
      </span>
      <span class="p-float-label mt-4">
          <p-inputMask
            mask="+7(999) 999-9999"
            id="phone"
            formControlName="phoneControl"
            (focusout)="checkPhone()"
            [ngClass]="{'ng-invalid ng-dirty':(phoneControl.invalid)&&phoneControl.touched}"
          ></p-inputMask>
          <label htmlFor="phone">Телефон</label>
        </span>
    </form>
    </ng-template>
  </p-panel>
  <p-panel [toggleable]="true" styleClass="mt-4">
    <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">Информация о сотруднике</span></ng-template>
  </p-panel>
</div>
</div>
