<div class="container">
    <div class="title">Сброс пароля</div>
    <div class="sub_title">Введите ваш email или телефон и код </div>
    <form [formGroup]="checkCodeForm" novalidate (ngSubmit)="submitCheckCodeForm()">
      <app-input [definition]="authTokenInput"></app-input>
      <div class="error" *ngIf="authTokenInput.control.hasError('required')&&authTokenInput.control.touched">
        Поле обязательно для заполнения
      </div>
      <div class="error" *ngIf="authTokenInput.control.hasError('notPhoneOrEmail')&&authTokenInput.control.touched">
        Введенное значение не является телефоном или email
      </div>
      <div class="separator"></div>
      <app-input [definition]="codeInput"></app-input>
      <div class="error" *ngIf="codeInput.control.hasError('required')&&authTokenInput.control.touched">
        Поле обязательно для заполнения
      </div>
      <div class="error" *ngIf="codeInput.control.hasError('pattern')&&authTokenInput.control.touched">
        Введен не верный код
      </div>
      <div class="separator"></div>
      <app-input [definition]="passwordInput"></app-input>
      <div class="error" *ngIf="passwordInput.control.hasError('required')&&passwordInput.control.touched">
        Поле обязательно для заполнения
      </div>
      <div class="separator"></div>
      <app-input [definition]="confirmPasswordInput"></app-input>
      <div class="error" *ngIf="confirmPasswordInput.control.hasError('required')&&confirmPasswordInput.control.touched">
        Поле обязательно для заполнения
      </div>
      <div class="checkbox_wrapper">
        <app-checkbox [definition]="checkboxDefinition"></app-checkbox>
      </div>
      <div class="button_wrapper">
        <app-button [definition]="buttonCheckCodeDefinition"></app-button>
      </div>
    </form>
</div>
