<div class="container">
    <div class="title">Сброс пароля</div>
    <div class="sub_title">Введите ваш email или телефон и код </div>
    <form [formGroup]="checkCodeForm" novalidate (ngSubmit)="submitCheckCodeForm()">
      <app-input [definition]="emailOrPhoneInput"></app-input>
      <div class="error" *ngIf="emailOrPhoneInput.control.hasError('required')&&emailOrPhoneInput.control.touched">
        Поле обязательно для заполнения
      </div>
      <div class="error" *ngIf="emailOrPhoneInput.control.hasError('notPhoneOrEmail')&&emailOrPhoneInput.control.touched">
        Введенное значение не является телефоном или email
      </div>
      <div class="separator"></div>
      <app-input [definition]="tokenInput"></app-input>
      <div class="error" *ngIf="tokenInput.control.hasError('required')&&emailOrPhoneInput.control.touched">
        Поле обязательно для заполнения
      </div>
      <div class="error" *ngIf="tokenInput.control.hasError('pattern')&&emailOrPhoneInput.control.touched">
        Введен не верный код
      </div>
      <div class="separator"></div>
      <div [ngClass]="{'psw-error':passwordInput.control.hasError('passwordStrange')}" class="psw" >
      <p>Пароль должен соотвествовать следующим требованиям:</p>
      <p *ngIf="passwordStrangeRequirement.passwordMinCharacters!=0"> - минимальная длина пароля - {{passwordStrangeRequirement.passwordMinCharacters}}</p>
      <p *ngIf="passwordStrangeRequirement.passwordMinLowerCase!=0"> - минимально прописных симвоволов - {{passwordStrangeRequirement.passwordMinLowerCase}}</p>
      <p *ngIf="passwordStrangeRequirement.passwordMinUpperCase!=0"> - минимально заглавных симвоволов - {{passwordStrangeRequirement.passwordMinUpperCase}}</p>
      <p *ngIf="passwordStrangeRequirement.passwordMinNumber!=0"> - минимально количество цифр - {{passwordStrangeRequirement.passwordMinNumber}}</p>
      <p *ngIf="passwordStrangeRequirement.passwordMinSymbol!=0"> - минимально количество спецсимволов($@!%*?&) - {{passwordStrangeRequirement.passwordMinSymbol}}</p>
      </div>
      <app-input [definition]="passwordInput"></app-input>
      <div class="error" *ngIf="passwordInput.control.hasError('required')&&passwordInput.control.touched">
        Поле обязательно для заполнения
      </div>
      <div class="separator"></div>
      <app-input [definition]="confirmPasswordInput"></app-input>
      <div class="error" *ngIf="confirmPasswordInput.control.hasError('required')&&confirmPasswordInput.control.touched">
        Поле обязательно для заполнения
      </div>
      <div *ngIf="checkCodeForm.hasError('match_error')" class="match_error">
        Пароли не совпадают
      </div>
      <div class="checkbox_wrapper mt">
        <app-checkbox [definition]="checkboxDefinition"></app-checkbox>
      </div>
      <div class="button_wrapper">
        <app-button [definition]="buttonCheckCodeDefinition"></app-button>
      </div>
    </form>
</div>
