<div *ngIf="!resultSuccess" class="container" style="width: 56rem">
  <div class="text-4xl text-center">Регистрация</div>
  <div class="text-center">Поля помеченные <span class="text-pink-500">*</span> обязательны к заполнению</div>
  <form
    class="mt-1"
    [formGroup]="registrationForm"
    novalidate
    (ngSubmit)="submitFrm()">
    <div class="flex justify-content-between">
      <div class="w-25rem flex flex-column justify-content-between">
        <h4 class="text-center">Основные учетные данные</h4>
        <div class="flex justify-content-start align-items-center">
          <span class="p-float-label">
          <p-inputMask
            mask="+7(999) 999-9999"
            id="phone"
            formControlName="phone"
            (focusout)="checkPhone()"
            [ngClass]="{'ng-invalid ng-dirty':(phoneControl.invalid)&&phoneControl.touched}"
          ></p-inputMask>
          <label htmlFor="phone">Телефон</label>
        </span>
        </div>
        <div class="mt-4 flex">
          <div class="min-w-full">
            <span class="p-float-label">
              <input
                pInputText
                id="email"
                class="p-inputtext-sm w-full"
                formControlName="email"
                (focusout)="checkEmail()"
                [ngClass]="{'ng-invalid ng-dirty':(emailControl.invalid)&&emailControl.touched}"
              />
              <label htmlFor="email">Email</label>
            </span>
          </div>
          <div class="text-pink-500">*</div>
        </div>
        <div class="mt-4 flex">
          <div class="min-w-full">
            <span class="p-float-label w-full">
          <input
            pInputText id="surname"
            class="p-inputtext-sm w-full"
            formControlName="surname"
            [ngClass]="{'ng-invalid ng-dirty':(surnameControl.hasError('required')||surnameControl.hasError('pattern'))&&surnameControl.touched}"
          />
          <label htmlFor="surname">Фамилия</label>
        </span>
          </div>
          <div class="text-pink-500">*</div>
        </div>
        <div class="mt-4 flex">
          <div class="min-w-full">
            <span class="p-float-label w-full">
          <input
            pInputText
            id="name"
            class="p-inputtext-sm w-full"
            formControlName="name"
            [ngClass]="{'ng-invalid ng-dirty':(nameControl.hasError('required')||nameControl.hasError('pattern'))&&nameControl.touched}"
          />
          <label htmlFor="name">Имя</label>
        </span>
          </div>
          <div class="text-pink-500">*</div>
        </div>
        <div class="mt-4">
          <span class="p-float-label w-full">
          <input
            pInputText
            id="lastName"
            class="p-inputtext-sm w-full"
            formControlName="lastname"
            [ngClass]="{'ng-invalid ng-dirty':lastnameControl.hasError('pattern')&&lastnameControl.touched}"
          />
          <label htmlFor="lastName">Отчество</label>
        </span>
        </div>
      </div>
      <div class="w-25rem flex flex-column justify-content-between">
        <div>
          <h4 class="text-center">Пароль</h4>
          <p>Пароль должен соответствовать следующим требованиям:</p>
          <div *ngIf="pswStrangeReq?.minCharacters!=0"> - минимальная длина пароля - <span
            class="font-bold text-red-800">{{pswStrangeReq?.minCharacters}}</span></div>
          <div *ngIf="pswStrangeReq?.minLowerCase!=0"> - минимально прописных символов - <span
            class="font-bold text-red-800">{{pswStrangeReq?.minLowerCase}}</span></div>
          <div *ngIf="pswStrangeReq?.minUpperCase!=0"> - минимально заглавных символов - <span
            class="font-bold text-red-800">{{pswStrangeReq?.minUpperCase}}</span></div>
          <div *ngIf="pswStrangeReq?.minNumber!=0"> - минимально количество цифр - <span
            class="font-bold text-red-800">{{pswStrangeReq?.minNumber}}</span></div>
          <div *ngIf="pswStrangeReq?.minSymbol!=0"> - минимально количество спецсимволов($@!%*?&) - <span
            class="font-bold text-red-800">{{pswStrangeReq?.minSymbol}}</span></div>
        </div>
        <div class="mt-4 flex">
          <div class="min-w-full">
            <span class="p-float-label">
          <p-password
            id="newPassword"
            class="w-full" [feedback]="false"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right"
            [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}"
            [toggleMask]="true"
            formControlName="newPassword"
            [ngClass]="{'ng-invalid ng-dirty':(passwordControl.hasError('required')||passwordControl.hasError('passwordStrange'))&&passwordControl.touched}"
          ></p-password>
          <label htmlFor="newPassword">Пароль</label>
        </span>
          </div>
          <div class="text-pink-500">*</div>
        </div>
        <div class="mt-4 flex">
          <div class="min-w-full">
            <span class="p-float-label">
          <p-password
            id="repeatPassword"
            class="w-full"
            [feedback]="false"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right"
            [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}"
            [toggleMask]="true"
            formControlName="confirmPassword"
            [ngClass]="{'ng-invalid ng-dirty':(confirmPasswordControl.hasError('required')||registrationForm.hasError('match_error'))&&confirmPasswordControl.touched}"
          ></p-password>
          <label htmlFor="repeatPassword">Повторите пароль</label>
        </span>
          </div>
          <div class="text-pink-500">*</div>
        </div>
      </div>
    </div>
    <div class="flex justify-content-center mt-4">
      <p-button
        label="Отмена"
        styleClass="p-button-raised"
        [disabled]="loading"
        (click)="returnToLoginPage()">
      </p-button>
      <p-button
        label="Регистрация"
        styleClass="p-button-raised ml-5"
        [loading]="loading"
        [disabled]="loading"
        (click)="submitFrm()"></p-button>
    </div>
  </form>
</div>
<div *ngIf="resultSuccess" class="container">
  <div class="text-4xl text-center">Регистрация</div>
  <div class="mt-2 text-xl">
    <p style="text-indent: 2rem">Вы успешно зарегистрировались. На указанную Вами электронную почту отправлено
      письмо с предложением подтвердить email. Полноценно аккаунт сможет функционировать после
      одобрения ответственным лицом и назначения Вам прав в приложении.</p>
    <p style="text-indent: 2rem"> Сейчас Вы можете авторизоваться и подтвердить или изменить свои учетные данные.</p>
  </div>
  <div class="mt-3 flex justify-content-center">
    <p-button
      label="Авторизация"
      styleClass="p-button-raised"
      [disabled]="loading"
      (click)="returnToLoginPage()">
    </p-button>
  </div>
</div>
<p-toast></p-toast>


