<div class="container" style="width: 55rem">
    <div class="title">Регистрация</div>
    <form class="mt-3">
      <div class="flex justify-content-between">
        <div class="w-25rem">
          <h4 class="text-center">Основные учетные данные</h4>
      <div class="flex justify-content-start align-items-center">
        <div class="mr-2 text-2xl font-bold">+7</div>
        <span class="p-float-label">
          <p-inputMask mask="999-999-9999" id="phone" [style]="{'min-width':'100%'}"></p-inputMask>
          <label htmlFor="phone">Телефон</label>
        </span>
      </div>
      <div class="mt-5">
        <span class="p-float-label">
          <input pInputText id="email2" class="p-inputtext-sm w-full"/>
          <label htmlFor="email2">Email</label>
        </span>
      </div>
      <div class="mt-5">
        <span class="p-float-label w-full">
          <input pInputText id="surname" class="p-inputtext-sm w-full"/>
          <label htmlFor="surname">Фамилия</label>
        </span>
      </div>
      <div class="mt-5">
        <span class="p-float-label w-full">
          <input pInputText id="name" class="p-inputtext-sm w-full"/>
          <label htmlFor="name">Имя</label>
        </span>
      </div>
      <div class="mt-5">
        <span class="p-float-label w-full">
          <input pInputText id="lastName" class="p-inputtext-sm w-full"/>
          <label htmlFor="lastName">Отчество</label>
        </span>
      </div>
        </div>
        <div class="w-25rem">
      <div>
        <h4 class="text-center">Требования к паролю</h4>
        <p>Пароль должен соотвествовать следующим требованиям:</p>
        <div *ngIf="pswStrangeReq.minCharacters!=0" > - минимальная длина пароля - <span class="font-bold text-red-800">{{pswStrangeReq.minCharacters}}</span></div>
        <div *ngIf="pswStrangeReq.minLowerCase!=0"> - минимально прописных симвоволов - <span class="font-bold text-red-800">{{pswStrangeReq.minLowerCase}}</span></div>
        <div *ngIf="pswStrangeReq.minUpperCase!=0"> - минимально заглавных симвоволов - <span class="font-bold text-red-800">{{pswStrangeReq.minUpperCase}}</span></div>
        <div *ngIf="pswStrangeReq.minNumber!=0"> - минимально количество цифр - <span class="font-bold text-red-800">{{pswStrangeReq.minNumber}}</span></div>
        <div *ngIf="pswStrangeReq.minSymbol!=0"> - минимально количество спецсимволов($@!%*?&) - <span class="font-bold text-red-800">{{pswStrangeReq.minSymbol}}</span></div>
      </div>
      <div class="mt-4">
        <span class="p-float-label mt-4">
          <p-password id="newPassword" class="w-full" [feedback]="false"
                      styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                      [inputStyle]="{'width':'100%'}" [toggleMask]="true"></p-password>
          <label htmlFor="newPassword">Пароль</label>
        </span>
      </div>
      <div class="mt-4">
        <span class="p-float-label mt-4">
          <p-password id="repeatPassword" class="w-full" [feedback]="false"
                      styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                      [inputStyle]="{'width':'100%'}" [toggleMask]="true"></p-password>
          <label htmlFor="repeatPassword">Повторите пароль</label>
        </span>
      </div>
        </div>
          </div>
      <div class="flex justify-content-center mt-4">
        <p-button
          label="Отмена"
          styleClass="p-button-raised"
          [disabled]="loading"
          (click)="returnToLoginPage()">
        </p-button>
        <p-button
          label="Регистрация"
          styleClass="p-button-raised ml-5"
          [loading]="loading"
          [disabled]="loading"
          (click)="submitFrm()"></p-button>
      </div>

    </form>
  </div>


