<div class="container" *ngIf="state==='change'">
  <div class="title">Смена пароля</div>
  <form
    class="mt-3"
    [formGroup]="authForm"
    novalidate
    (ngSubmit)="submitFrm()">

      <span class="p-float-label">
        <input pInputText
               id="emailOrPhone"
               class="p-inputtext-sm w-full"
               formControlName="email"
               [ngClass]="{'ng-invalid ng-dirty':(emailControl.hasError('required')||emailControl.hasError('email'))&&emailControl.touched}"
        />
        <label htmlFor="emailOrPhone">Email</label>
    </span>
    <div class="mt-4">
      <span class="p-float-label">
      <textarea
        id="float-input" rows="5" cols="46"
        pInputTextarea
        style="width: 100%;"
        [autoResize]="true"
        formControlName="token"
        [ngClass]="{'ng-invalid ng-dirty':(tokenControl.hasError('required')||tokenControl.hasError('pattern'))&&tokenControl.touched}"
      >
      </textarea>
      <label for="float-input">Токен</label>
    </span>
      <h4 class="text-center">Требования к паролю</h4>
      <p>Пароль должен соотвествовать следующим требованиям:</p>
      <div *ngIf="pswStrangeReq.minCharacters!=0" > - минимальная длина пароля - <span class="font-bold text-red-800">{{pswStrangeReq.minCharacters}}</span></div>
      <div *ngIf="pswStrangeReq.minLowerCase!=0"> - минимально прописных симвоволов - <span class="font-bold text-red-800">{{pswStrangeReq.minLowerCase}}</span></div>
      <div *ngIf="pswStrangeReq.minUpperCase!=0"> - минимально заглавных симвоволов - <span class="font-bold text-red-800">{{pswStrangeReq.minUpperCase}}</span></div>
      <div *ngIf="pswStrangeReq.minNumber!=0"> - минимально количество цифр - <span class="font-bold text-red-800">{{pswStrangeReq.minNumber}}</span></div>
      <div *ngIf="pswStrangeReq.minSymbol!=0"> - минимально количество спецсимволов($@!%*?&) - <span class="font-bold text-red-800">{{pswStrangeReq.minSymbol}}</span></div>
    </div>
    <div class="mt-4">
        <span class="p-float-label mt-4">
          <p-password
            id="newPassword"
            class="w-full"
            [feedback]="false"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}"
            [toggleMask]="true"
            formControlName="newPassword"
            [ngClass]="{'ng-invalid ng-dirty':passwordControl.hasError('required')&&passwordControl.touched}"
            ></p-password>
          <label htmlFor="newPassword">Пароль</label>
        </span>
    </div>
    <div class="mt-4">
        <span class="p-float-label mt-4">
          <p-password
            id="confirmPassword"
            class="w-full"
            [feedback]="false"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}"
            [toggleMask]="true"
            formControlName="confirmPassword"
            [ngClass]="{'ng-invalid ng-dirty':(confirmPasswordControl.hasError('required')||authForm.hasError('match_error'))&&confirmPasswordControl.touched}"
            ></p-password>
          <label htmlFor="confirmPassword">Повторите пароль</label>
        </span>
    </div>
    <div class="flex justify-content-evenly mt-4">
      <p-button
        label="Сменить пароль"
        styleClass="p-button-raised"
        [loading]="loading"
        [disabled]="loading"
        (click)="submitFrm()"
      ></p-button>
    </div>
  </form>
</div>
<div *ngIf="state==='complete'">
  <p-card header="Смена пароля" [style]="{'background': '#BDD9FE'}">
    <p class="m-0">
      {{completeMessage}}
    </p>
    <div class="mt-4 flex justify-content-center">
      <p-button
        label="Перейти к авторизации"
        styleClass="p-button-raised"
        (click)="returnToAuth()"
      ></p-button>
    </div>

  </p-card>
</div>
<p-toast></p-toast>
