<div class="pc-tab">
  <input checked="checked" id="tab1" type="radio" name="pct" />
  <input id="tab2" type="radio" name="pct" />
  <input id="tab3" type="radio" name="pct" />
  <nav>
    <ul>
      <li class="tab1">
        <label for="tab1">Общие параметры</label>
      </li>
      <li class="tab2">
        <label for="tab2">Настройки безопасности</label>
      </li>
      <li class="tab3">
        <label for="tab3">Настройка email</label>
      </li>
    </ul>
  </nav>
  <section>
    <div class="tab1">
      <app-app-settings></app-app-settings>
    </div>
    <div class="tab2">
      <app-security-settings></app-security-settings>
    </div>
    <div class="tab3">
      <app-mail-settings></app-mail-settings>
    </div>
  </section>
</div>
