<div class="container">
  <div *ngIf="!showRestorePassword">
    <div class="title">Авторизация</div>
    <form [formGroup]="authForm" novalidate (ngSubmit)="submitAuthForm()">
      <app-input [definition]="emailOrPhoneInput"></app-input>
      <div class="error" *ngIf="emailOrPhoneInput.control.hasError('required')&&emailOrPhoneInput.control.touched">
          Поле обязательно для заполнения
      </div>
      <div class="error" *ngIf="emailOrPhoneInput.control.hasError('notPhoneOrEmail')&&emailOrPhoneInput.control.touched">
          Введенное значение не является телефоном или email
      </div>
      <div class="separator"></div>
      <app-input [definition]="passwordInput"></app-input>
      <div class="error" *ngIf="passwordInput.control.hasError('required')&&passwordInput.control.touched">
        Поле обязательно для заполнения
      </div>
      <div class="checkbox_wrapper">
        <app-checkbox [definition]="checkboxDefinition"></app-checkbox>
      </div>
      <div *ngIf="errorMessage!=null" class="error_response">{{errorMessage}}</div>
      <div class="button_wrapper">
        <app-button [definition]="buttonAuthDefinition"></app-button>
      </div>
    </form>
    <div class="restore_password">
      <u (click)="resetPasswordShow()">Забыли пароль?</u>
    </div>

  </div>
  <div *ngIf="showRestorePassword">
    <div class="title">Востановление пароля</div>
    <div class="sub_title">Укажите почту или телефон владельца аккаунта</div>
    <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="submitResetPswForm()">
      <app-input [definition]="emailOrPhoneInput"></app-input>
      <div class="error" *ngIf="emailOrPhoneInput.control.hasError('required')&&emailOrPhoneInput.control.touched">
        Поле обязательно для заполнения
      </div>
      <div class="error" *ngIf="emailOrPhoneInput.control.hasError('notPhoneOrEmail')&&emailOrPhoneInput.control.touched">
        Введенное значение не является телефоном или email
      </div>
      <div class="button_wrapper">
        <app-button [definition]="buttonRestorePswDefinition"></app-button>
      </div>
    </form>
    <div class="restore_password">
      <u (click)="resetPasswordShow()">Назад к авторизации</u>
    </div>
  </div>
</div>
